  <div class="cube">
      <img class="cube" src="{{imageUrl}}">
      <p class="{{name}}">Gan356 Air SM</p>
      <p><span>Difficulty level:</span>{{difficultyLevel}}</p>
      <a class="btn" href="/cubes/{{id}}/details">Details</a>
  </div>